*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}

header nav{
    background-color: white;
    justify-content: space-between;
    margin-top: 20px;
}

header ul{
    justify-content: space-evenly;
    width: 500px;
    height: 100%;
}

ul{
    list-style-type: none;
}

header nav a{
    text-decoration: none;
    color: black;
}

h1{
    font-size: 5rem;
    padding-top: 60px;
    margin-bottom: 30px;
}

h2{
    font-size: 2.5rem;
    margin-bottom: 50px;
}

h3{
    font-size: 1.5rem;
    padding: 1.7rem;
}

footer{
    background-color: black;
    height: 500px;
    color: white;
}

section.jumbotron div.container-big img{
    width: 900px;
}

section.jumbotron div.container-big{
    width: 70%;
}

section.jumbotron div.container-small{
    width: 30%;
}

section.jumbotron div.container-small button{
    margin-top: 20px;
    margin-bottom: 20px;
}

div.container-small i{
    margin-top: 150px;
    font-size: 2.5rem;
}

section.container{
    margin-top: 150px;
}

div.input label{
    margin-right: 50px;
}

div.columns{
    justify-content: space-between;
}

div.column p.user-plan-top{
    text-align: center;
    border-bottom: 1px solid lightgrey;
    padding: 10px 0;
}

div.column :nth-child(3){
    font-weight: bold;
    padding-left: 1.7rem;
}

div.column :nth-child(4){
    color: grey;
    padding: .3rem 1.7rem 2rem;
}

div.column :nth-child(10){
    font-weight: bold;
    padding-top: 5rem;
}

div.column :nth-child(15){
    margin-bottom: 3rem;
}

div.column button{
    margin: 1.7rem;
    font-size: 1rem;
    padding: 10px 30px;
}

div.rectangular-column p.user-plan-top{
    text-align: center;
    border-bottom: 1px solid lightgrey;
    padding: 10px 0;
}

div.rectangular-column :nth-child(3){
    padding: 0 1.7rem 0;
    font-weight: bold;
}

div.rectangular-column :nth-child(4){
    padding: 4rem 1.7rem 0;
    width: 80%;
    margin-bottom: 2rem;
}

div.rectangular-column button{
    position: absolute;
    right: 25px;
    top: 70px;
}

section.find-partner div.container-big img{
    width: 90%;
}

section.find-partner div.container-small p{
    padding: 0 1.7rem;
}

section.find-partner div.container-small button{
    padding: 10px 20px;
    border: 1px solid black;
    font-size: 1rem;
    background-color: white;
    margin-left: 1.7rem;
    margin-top: 1.7rem;
}

section.dropbox-business div.bottom-text h2{
    width: 70%;
    margin-top: 150px;
}

div.bottom-text{
    margin-bottom: 6rem;
}

div.box img{
    width: 80%;
}

div.box h3{
    font-size: 1.5rem;
    padding-left: 0;
}

div.business-card img{
    width: 60%;
    filter: invert(1);
}

div.box-center :nth-child(1){
    width: 50%;
    margin: 2rem 0;
}

div.box-center :nth-child(2){
    margin-bottom: 5rem;
}

div.box-center :nth-child(3){
    margin-bottom: 3rem;
}

div.green{
    border: 20px solid #d1e9cd;
}

div.bottom-business-card h2{
    text-align: left;
}

div.bottom-business-card button{
    border: none;
    background-color: white;
    font-size: 1rem;
    height: 30%;
    width: 30%;
}

section.faq p{
    border-bottom: 2px solid lightgrey;
    padding: 35px 0;
}

section.faq{
    position: relative;
    margin-bottom: 200px;
}

section.faq i{
    position: absolute;
    right: 0;
    top: 0;
}

div.footer-box p{
    font-size: 1.5rem;
    margin: 25px 0;
    font-weight: bold;
}

div.footer-box li{
    margin-top: 15px;
}

div.footer-box a{
    text-decoration: none;
    color: white;
}

div.footer-box a:hover{
    text-decoration: underline;
}

.border-top{
    border-top: 2px solid lightgrey;
}

.flex{
    display: flex;
    flex-direction: row;
}

.flex-between{
    justify-content: space-between;
}

.padding{
    padding: 1.5rem 1.7rem 0;
}

.margin-auto{
    margin: auto;
}

.fa-check{
    color: #0061ff;
}

.left-section,
.right-section{
    margin-top: 30px;
}

.blue-button{
    padding: 10px 20px;
    border: none;
    background-color: #0061ff;
    color: white;
}

.jumbotron{
    height: 750px;
    margin-top: 20px;
    background-color: #b4d0e7;
}

.top-bottom-container{
    max-width: 1200px;
    margin: 0 auto;
}

.container-small{
    width: 40%;
}

.container-big{
    width: 60%;
}

.container{
    max-width: 1000px;
    margin: 0 auto;
}

.column{
    margin-top: 40px;
    width: calc(90%/3);
    border: 1px solid lightgrey;
}

.rectangular-column{
    width: 100%;
    margin-top: 50px;
    position: relative;
    border: 1px solid lightgrey;
}

.box{
    width: calc(100% / 3);
    padding: .5rem;
    margin-bottom: 2rem;
}

.business-teams{
    background-color: #b4d0e7;
    flex-wrap: wrap;
}

.left-business-box, .right-business-box, .box-center{
    width: calc(100vw  / 3);
    height: calc(100vw  / 3);
    flex-wrap: wrap;
}

.business-card{
    width: calc(100%  / 2);
    height: calc(100%  / 2);
}

.box-center{
    background-color: #f5f5f5;
}

.bottom-business-card{
    background-color: #b4d0e7;
    color: #61082b;
}

.footer-box{
    width: calc(100% / 5);
    padding: 20px;
}

.lang{
    margin-top: 100px;
}

.green{
    background-color: #a2d39b;
}

.darker-red{
    background-color: #61082b;
}

.light-blue{
    background-color: #0093ce;
}

.red{
    background-color: #ff1c1c;
}

.dark-red{
    background-color: #d5001f;
}

.blue{
    background-color: blue;
}

.yellow{
    background-color: #ffd830;
}