*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}

header{
    background-color: white;
    justify-content: space-between;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: black;
}

h1{
    font-size: 4rem;
    padding-top: 60px;
    margin-bottom: 30px;
}

header section.left-section ul{
    justify-content: space-evenly;
    width: 500px;
    text-align: left;
}

header section.right-section ul{
    justify-content: space-evenly;
    width: 500px;
    text-align: right;
}

main section.jumbotron div.hero{
    width: 50%;
}

/* TODO: RIMUOVERE ALTEZZE FISSE */

div.container-big img{
    width: 900px;
}

div.container-small button{
    margin-top: 20px;
    margin-bottom: 20px;
}

div.container-small i{
    margin-top: 150px;
    font-size: 2.5rem;
}

section.container{
    margin-top: 150px;
}

div.business-text h2{
    font-size: 2.5rem;
    margin-bottom: 50px;
}

div.input label{
    margin-right: 50px;
}

div.columns{
    justify-content: space-between;
}

.flex{
    display: flex;
    flex-direction: row;
}

.left-section,
.right-section{
    margin-top: 30px;
}

.blue-button{
    padding: 10px 20px;
    border: none;
    background-color: #0061ff;
    color: white;
}

.jumbotron{
    height: 700px;
    margin-top: 20px;
    background-color: #b4d0e7;
}

.container-jumbo{
    max-width: 1200px;
    margin: 0 auto;
}

.container-small{
    width: 30%;
    height: 500px;
    background-color: red;
}

.container-big{
    width: 70%;
    height: 500px;
    border: 2px dotted black;
    background-color: red;
}

.container{
    max-width: 1000px;
    height: 1350px;
    margin: 0 auto;
    background-color: blue;
}

.column{
    margin-top: 40px;
    height: 800px;
    width: calc(90%/3);
    border: 1px solid lightgrey;
    background-color: red;
}

.rectangular-column{
    width: 100%;
    height: 300px;
    margin-top: 50px;
    border: 1px solid lightgrey;
    background-color: red;
}